.time_wrap {
  text-align: center;
  .timer_count {
    font-size: 80px;
  }
  .red_count {
    color: rgb(181, 13, 13);
  }
  button {
    cursor: pointer;
    border: 0;
    height: 30px;
    background: inherit;
    svg {
      font-size: 30px;
      color: white;
    }
  }
}
