.time_wrap {
  text-align: center;
  #time-left {
    font-size: 80px;
  }
  button{
    cursor: pointer;
    border: 0;
    height: 30px;
    background: inherit;
    svg {
      font-size: 30px;
      color: white;
    }
  }
 
}
