* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e555c;
}
.container {
  width: 40%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  font-size: 26px;
  font-weight: 600;
  h1{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  #break-label, #session-label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .label {
      width: 100%;
      text-align: center;
    }
    button {
      font-size: 26px;
      height: 26px;
      cursor: pointer;
      background: inherit;
      color: white;
      border: 0;
    }
    #break-length, #session-length {
      padding: 0 10px;
    }
  }
  .timer_wrap{
    width: 100%;
    .timer{
      margin: 0 auto;
      width: 300px;
      border: 7px solid #13353a;
      border-radius: 50px;
      padding: 20px 30px;
      margin-top: 50px;
      #timer-label{
        text-align: center;
      }
    }
  }
}
